body {
    font-family: 'Roboto';
    margin: 0px;
    overflow-x: hidden;
}

@import 'styles/sass/home.scss';
@import 'styles/sass/login.scss';
@import 'styles/sass/text.scss';
@import 'styles/sass/colors.scss';
@import 'styles/sass/button.scss';
@import 'styles/sass/sideMenu.scss';
